$green-color: #4B9200;
$orange-hover-color: #E47209;
$black_blue-color: #333B41;
$gray-color: #767474;
$gray_smoky-color: #ABABAB;
$light_grayl-color: #F1F3F2;
$yellow_color: #FFEE2E;
$red-collor: #D31414;
$frosted_glass_white: rgba(253, 253, 255, 0.52);
