@import 'assets/styles/libs/normalize';
@import 'assets/styles/libs/font';

@import 'assets/styles/base/variables';
@import 'assets/styles/base/mixins';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}

.container {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
}
.hamburger {
    display: none;
}

@import 'assets/styles/blocks/button';
@import 'assets/styles/blocks/slider-range';


//page 1
@import 'assets/styles/blocks/header';
@import 'assets/styles/blocks/nav-menu';
@import 'assets/styles/blocks/watch-online';
@import 'assets/styles/blocks/backstage';
@import 'assets/styles/blocks/pets';
@import 'assets/styles/blocks/pick-and-feed';
@import 'assets/styles/blocks/testimonials';
@import 'assets/styles/blocks/footer';

// page 2
.page2-bg {
    height: 386px;
    background: url(assets/images/panda_bg.jpg) center (bottom/cover) no-repeat;
}
@import 'assets/styles/blocks/donate';
@import 'assets/styles/blocks/donate-feed-form';

//media

@import 'assets/styles/blocks/media';

.overlay_active {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
}