.donate-feed-form {
	&__title {
		margin-top: 46px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #000000;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__form {
		&:invalid {
			button {
				background: $gray-color;
			}
		}
	}

	//* Price randge
	&__price-randge-bg {
		margin-top: 17px;
		width: 100%;
		height: 27px;
		border-radius: 2px;
		background-color: #404950;
	}
	&__price-range {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 94%;
		height: 2px;
		background-color: #72828E;
		margin: 12px 30px;
		input {
			display: none;
		}
		label {
			position: relative;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $yellow_color;
			align-self: center;
			font-weight: 500;
			font-size: 26px;
			line-height: 36px;
			color: $black_blue-color;
			cursor: pointer;
			&:hover {
				background: $orange-color2;
			}
			&::before {
				position: absolute;
				content: attr(data-debt-amount);
				top: 31px;
				left: -29px;
				font-weight: 500;
				font-size: 26px;
				line-height: 36px;
				text-transform: uppercase;
				transition: ease 0.2s;
			}
			&:hover::before {
				color: $orange-color2;
			}
		}
		input:checked {
			background: $orange-color2;
			+ label {
				color: $orange-color2;
			}
			+ label::after {
				position: absolute;
				content: "";
				background: url(assets/icons/cursor-round.svg) center (center/cover) no-repeat;
				height: 40px;
				width: 40px;
				top: -15px;
				left: -15px;
				cursor: pointer;
			}
		}
	}

	//* Another amount
	&__another-amount {
		margin-top: 98px;
		position: relative;
		height: 54px;
		display: flex;
		flex-direction: column;
		width: 268px;
		span {
			position: absolute;
			top: 18px;
			right: 9px;
			font-weight: 500;
			font-size: 18px;
			color: #929699;
		}
		input  {
			height: 54px;
			background-color: transparent;
			border: solid 1px #929699;
			padding: 9px;
			font-weight: 400;
			font-size: 18px;
			&::placeholder {
				font-weight: 400;
				font-size: 16px;
				color: #929699;
			}
			&:focus {
				outline: none;
			}
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		}
		/* Firefox */
		input[type=number] {
		-moz-appearance: textfield;
		}
	}


	//* Donate regularity
	&__regularity {
		margin-top: 27px;
		display: flex;
		gap: 50px;
		width: 218px;
		height: 21px;
	}
	&__regularity-selector {
		display: flex;
		align-items: center;
		cursor: pointer;
		input {
			appearance: none; // сброс внешнего вида элемента
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: solid 1px $orange-color2;
		}
		input:focus {
			outline: none; 
		}
		input:checked {
			border: none;
			background: $green-color;
		}
		span {
			margin-left: 10px;
			font-weight: 400;
			font-size: 16px;
			color: #333B41;
		}
	}
	&__btn {
		margin-top: 31px;
	}
}