.donate {
    min-height: 1482px;
    padding: 40px 0 180px 0;
    @include orange_grad;
    &__title {
        font-weight: 400;
        font-size: 36px;
        color: #FFFFFF;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
    &__info {
        margin-top: 50px;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: $orange-color2;
    }
    &__pick-wrap {
        margin-top: 60px;
        min-height: 964px;
        padding: 40px 92px 62px 92px;
        border-radius: 20px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
    }
    &__pick-title {
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        color: $orange-color2;
    }
    &__pick-text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 24px;
        color: $black_blue-color;
    }
    &__pick-amount {
        display: flex;
        width: 532px;
        margin: 0 auto;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
    }
    &__pick-number {
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: $black_blue-color;
        span {
            font-weight: 500;
            font-size: 72px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    }
    &__pick-xicon {
        margin-top: 25px;
        margin-left: 5px;
        margin-right: auto;
        width: 14px;
        height: 14px;
        background: url(assets/icons/x_icon.svg) center (center/cover) no-repeat;
    }
    &__form-position {
        margin-top: 50px;
    }
    &__text-bottom {
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $black_blue-color;
        text-align: center;
    }
}