.header {
    min-height: 80px;
    padding: 14px 0 14px 0;
    background-color: #000000;
    &__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        width: 82px;
        height: 52px;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
    }
    &__title {
        position:relative;
        display: block;
        font-weight: 400;
        font-size: 19px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        &::before {
            content:'';
            display: block;
            position: absolute;
            left: 8px;
            bottom: 5px;
            width: 15px;
            height: 18px;
            background: url('assets/icons/bamboo.svg') center center/cover no-repeat;
        }
    }
    &__logo-link, &__logo-link:visited, &__link, &__link:visited {
        margin-left: auto;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: $orange-hover-color;
        }
    }
    &__nav-menu {
        padding-left: 63px;
        gap: 58px
    }
}