@media (min-width: 1001px) and (max-width: 1599px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
    .backstage {
        background: url(assets/images/flower_foto1.png) right -39px top 20px/170px auto no-repeat;
    }
    .backstage__wrap {
        width: 90%;
    }
    .backstage__img {
        height: auto;
        width: 40vw;
    }
    .backstage__descr {
        width: 50vw;
        margin-left: 30px;
    }
    .pets {
        min-height: 1126px;
        padding: 51px 0 100px 0;
        background: url(assets/images/palm_foto_2.png) left -8px (bottom/auto 202px) no-repeat,
        url(assets/images/strelitzia1.png) right -8px (bottom/241px 180px) no-repeat;
        &__items-wrap {
            width: 100%;
            height: 801px;
            overflow: hidden;
        }
        &__items {
            row-gap: 92px;
            column-gap: 29px;
            }
        &__item {
            width: 294px;
            height: 354px;
        }
        &__photo {
            width: calc(294px - 4px);
            height: calc(294px - 2px);
        }
        &__btn-prev {
            left: 323px;
        }
        &__btn-next {
            right: 323px;
        }
    }
    .testimonials__items-wrap {
        margin: 0 auto;
        margin-top: 48px;
        width: 80%;
        height: 391px;
        overflow: hidden;
    }
    .footer__nav {
        grid-column: 1/3;
        justify-self: end;
    }
}



//* small_desktop 1000px
@media (max-width: 1000px) {
    .container {
        position: relative;
        max-width: 940px;
        margin: 0 auto;
    }
    .header {
        position: absolute;
        width: 100%;
        z-index: 10;
        &__nav-menu {
            gap: 48px
        }
    }
    .watch-online {
        min-height: 584px;
        padding-top: 122px;
        &__wrap {
            width: 513px;
        }
        &__descr {
            display: block;
            height: 360px;
        }
        &__title {
            font-size: 85px;
        }
        &__round {
            left: -3px;
            top: -52px;
            width: 367px;
            height: 367px;
            }
        &__btn {
            margin-top: 0px;
        }
    }
    .backstage {
        padding: 100px 0 74px 0;
        background: none;
        &__img-crop {
            min-width: 455px;
            min-height: 408px;
            overflow: hidden;
        }
        &__img {
            margin: 10px -80px;
            display: block;
            width: auto;
            height: 408px;
        }
        &__descr {
            margin-left: 31px;
        }
        &__text {
            line-height: 135%;
        }
    }
    .pets {
        min-height: 1126px;
        padding: 51px 0 100px 0;
        background: url(assets/images/palm_foto_2.png) left -8px (bottom/auto 202px) no-repeat,
        url(assets/images/strelitzia1.png) right -8px (bottom/241px 180px) no-repeat;
        &__items-wrap {
            width: 100%;
            height: 801px;
            overflow: hidden;
        }
        &__items {
            row-gap: 92px;
            column-gap: 29px;
            }
        &__item {
            width: 294px;
            height: 354px;
            &_gorillas {
                order: 3;
            }
            &_alligators {
                order: 4;
            }
            &_penguins {
                order: 5;
            }
            &_toed {
                order: 6;
            }
        }
        &__photo {
            width: calc(294px - 4px);
            height: calc(294px - 2px);
        }
        &__btn-prev {
            left: 323px;
        }
        &__btn-next {
            right: 323px;
        }
    }
    .pick-and-feed {
        min-height: 876px;
        padding: 30px 0 50px 0;
        &__wrap {
            padding: 30px 0 50px 0;
            min-height: 796px;
        }
        &__title {
            letter-spacing: -0.5px;
        }
        &__descr {
            padding-left: 48px;
        }
        &__info {
            margin-top: 24px;
        }
        &__text {
            width: 823px;
            br {
                display: none;
            }
            &_select {
                display: block;
                width: 813px;
                margin-top: 20px;
            }
        }
        &__subtitle {
            margin-top: 39px;
        }
        &__arrow {
            margin-top: 61px;
        }
        &__btn {
        margin-top: 69px;
        }
    }
    .testimonials {
        min-height: 842px;
        padding: 103px 0 140px 0;
        background: url(assets/images/leav_foto.png) right -8px bottom -90px/200px auto no-repeat;
        &__items-wrap {
            margin-top: 33px;
        }
        &__item-border-gradient {
            min-width: 293px;
        }
        &__btn {
            margin-top: 51px;
        }
    }
    .slider-range {
        width: 390px;
        &::-webkit-slider-runnable-track {
            width: 390px;
        }
        &::-webkit-slider-thumb {
            width: 75px;
        }
        &::-moz-range-track {
            width: 390px;
        }
        &::-moz-range-thumb {
            width: 75px;
        } 
    }
    .footer {
        &__wrap {
            grid-template-columns: 298px auto 400px;
        }
        &__nav {
            grid-column: 1 / 4;
            grid-row: 3;
            justify-self: center;
            align-self: end;
        }
        &__nav-menu {
            margin-left: 0px;
            gap: 50px;
        }
    }

    //* donate page
    .page2-bg {
        height: 470px;
        background: url(assets/images/panda_bg.jpg) center (bottom/cover) no-repeat;
    }
    .donate {
        min-height: 1333px;
        padding: 40px 0 30px 0;
        &__title {
            line-height: 130%;
            width: 778px;
        }
        &__descr {
            margin-top: 30px;
        }
        &__info {
            margin-top: 47px;
        }
        &__pick-wrap {
            margin-top: 39px;
            min-height: 918px;
            padding: 20px 44px 46px 47px;
        }
        &__pick-title {
            margin-left: -15px;
        }
        &__pick-text {
            margin-top: 13px;
        }
        &__pick-amount {
            margin-left: 150px;
        &__pick-xicon {
            margin-left: 10px;
        }
    }
    }
//* Donate feed form
    .donate-feed-form {
        padding-right: 20px;
        padding-left: 20px;
        &__title {
            margin-top: 42px;
        }
        &__price-range {
            width: 97.5%;//
            margin-left: 10px;
            label {
                &:nth-of-type(1) {
                    display: none;
                }
                &::before {
                    left: -14px;
                }
            }
        }
    }
}

//* tablet 640px
@media (max-width: 999px) {
    .container {
        max-width: 600px;
    }
    .header {
        position: fixed;
        width: 100%;
        min-height: 34px;
        padding: 2px 0 2px 0;
        &__link {
            display: none;
        }
        &__nav-menu {
            display: none;
        }
    }
    .logo {
        width: 47px;
        height: 29px;
        border: none;
        &__title-small {
            font-size: 12px;
            &::before {
                left: 0px;
                bottom: 0px;
                background: url('assets/icons/bamboo.svg') center center/50% auto no-repeat;
            }
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 15px;
        cursor: pointer;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
            }
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
        }
    }
    .watch-online {
        min-height: 373px;
        background: url(assets/images/giant-panda_tablet.jpg) center (bottom/cover) no-repeat;//
        padding-top: 86px;
        &__wrap {
            width: 250px;
        }
        &__descr {
            display: block;
            height: 205px;
        }
        &__title {
            font-size: 54px;
        }
        &__round {
            left: -40px;
            top: -42px;
            width: 238px;
            height: 238px;
        }
        &__btn {
            position: absolute;
            margin-top: 0px;
            left: 0px;
            bottom: -42px;
        }
    }
    .backstage {
        min-height: 470px;
        padding: 60px 0 44px 0px;
        background: url(assets/images/flower_foto1.png) right -39px bottom -20px/170px auto no-repeat;
        &__wrap {
            display: block;
        };
        &__img-crop {
            display: none;
        }
        &__descr {
            margin-left: 0px;
            width: 495px;
        }
        &__subtitle {
            margin-top: 30px;
            margin-bottom: 17px;
        }
    
    }
    .pets {
        min-height: 1006px;
        padding: 36px 0 100px 0;
        background: url(assets/images/palm_foto_2.png) left -60px (bottom/auto 202px) no-repeat,
        url(assets/images/strelitzia1.png) right 2px (bottom/auto 131px) no-repeat;
        &__items-wrap {
            width: 600px;
            height: 756px;
        }
        &__item {
            width: 285px;
            height: 332px;
        }
        &__photo {
            width: calc(285px - 4px);
            height: calc(285px - 2px);
        }
        &__descr {
            padding: 6px 0 11px 13px;
            font-size: 12px;
            &_plants {
                background-position: center right 5px;
                background-size: 26px 29px;
            }
            &_meets {
                background-position: center right 5px;
                background-size: 37px 30px;
            }
        }
        &__name {
            font-weight: 500;
            font-size: 12px;
        }
        &__btn {
            margin-top: 60px;
        }
        &__btn-prev {
            left: 221px;
        }
        &__btn-next {
            right: 221px;
        }
    }
    .pick-and-feed {
        &__container {
            width: 640px;
        }
        min-height: 781px;
        padding: 20px 0;
        &__wrap {
            padding: 10px 20px 60px 20px;
            min-height: 741px;
        }
        &__title {
            font-size: 42px;
        }
        &__descr {
            width: 100%;
            padding-left: 0px;
        }
        &__info {
            font-size: 22px;
        }
        &__text {
            margin-top: 10px;
            width: 100%;
            &_select {
                margin-top: 20px;
            }
        }
        &__subtitle {
            margin-top: 30px;
        }
        &__items {
            margin-top: 22px;
            margin-right: 10px;
        }
        &__arrow {
            position: relative;
            background: none;
            margin-top: 0px;
            width: 0px;
            height: 0px;
            &::after {
                content:'';
                display: block;
                position: absolute;
                left:-52px;
                top: -23px;
                width: 87px;
                height: 40px;
                background: url(assets/icons/arrow2.svg) center (center/87px auto) no-repeat;
            }
        }
        &__btn {
            margin-top: 40px;
        }
    }
    .testimonials {
        min-height: 668px;
        padding: 60px 0 80px 0;
        background: url(assets/images/leav_foto.png) right -5px (bottom -65px/120px auto) no-repeat;
        &__items-wrap {
            margin-top: 35px;
            height: 357px;
        }
        &__items {
            flex-direction: column;
            gap: 15px;    
        }
        &__item-border-gradient {
            width: 100%;
            height: 109px;
        }
        &__item {
            overflow: hidden;
        }
        &__item-comment {
            line-height: 140%;
        }
        &__range {
            display: none;
        }
        &__btn {
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            width: 240px;
        }
    }
    .footer {
        height: 282px;
        padding: 13px 0 13px 0;
        &__wrap {
            grid-template-rows: 52px auto 87px;
            grid-template-columns: 300px auto 228px;
        }
        &__social {
            grid-column: 3;
            grid-row: 1/4;
            align-self: start;
            justify-self: end;
        }
        &__social-item {
            margin-top: 0px;
            margin-bottom: 20px;
        }
        &__social-icon {
            display: none; 
        }
        &__nav {
            grid-column: 1;
            grid-row: 3;
        }
        &__nav-menu {
            margin-left: 0px;
            gap: 37px;
            font-weight: 400;
        }
        &__subscribe {
            display: none;
        }
        &__form-descr {
            display: none;
        }
    }
    .feed-form {
        display: none;
    }
    // page 2
    .page2-bg {
        height: 369px;
        background: url(assets/images/panda_bg_tablet.jpg) center (bottom -7px/cover) no-repeat;
    }
    .donate {
        padding: 30px 0 46px 0;
        &__title {
            font-size: 24px;
            line-height: 120%;
            width: 600px;
        }
        &__descr {
            margin-top: 20px;
        }
        &__info {
            margin-top: 30px;
        }
        &__pick-wrap {
            margin-top: 30px;
            padding: 30px 0px 31px 0px;
        }
        &__pick-title {
            margin-left: 0px;
        }
        &__pick-text {
            text-align: center;
            margin-top: 20px;
        }
        &__pick-amount {
            width: 90%;
            margin: 0 auto;
            margin-top: 52px;
        }
        &__pick-animal {
            margin-right: 10px;
        }
        &__form-position {
            margin-top: 32px;
        }
    }
    .donate-feed-form {
        padding-right: 0px;
        padding-left: 0px;
        &__title {
            margin-top: 38px;
            margin-left: 10px;
        }
        &__price-randge-bg {
            margin-top: 7px;
        }
        &__price-range {
            width: 88.5%;
            margin-left: 35px;
            label {
                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
                    display: none;
                }
                &::before {
                    left: -22px;
                }
            }
        }
    }
    //* Another amount
	.donate-feed-form__another-amount {
		height: 42px;
		width: 180px;
		span {
			top: 9px;
			font-size: 22px;
		}
	}
    .donate-feed-form__regularity {
        margin-top: 30px;
    }
}

//! mobile
@media (max-width: 639px) {
    .container {
        max-width: 300px;//
    }

    .watch-online {
        min-height: 221px;//
        background: url(assets/images/giant-panda_mobile.jpg) center bottom -15px/cover no-repeat;//
        padding-top: 75px;//
        &__wrap {
            width: 128px;//
        }
        &__descr {
            display: block;
            height: 103px;//
        }
        &__title {
            font-size: 28px;//
            line-height: 75%;//
        }
        &__round {
            left: -20px;//
            top: -19px;//
            width: 119px;//
            height: 119px;//
        }
        &__btn {
            bottom: -117px;//

        }
    }
    .backstage {
        min-height: 532px;//
        padding: 104px 0 40px 0px;//
        background: url(assets/images/flower_foto1_mobile.png) right 0px top 38px/35px auto no-repeat;//
        &__wrap {
            display: block;
        };
        &__img-crop {
            display: none;
        }
        &__title {
            font-size: 24px;//
            margin-bottom: 10px;//
        }
        &__descr {
            margin-left: 0px;
            width: 100%;//
        }
        &__subtitle {
            margin-top: 18px;//
            margin-bottom: 10px;//
        }
    
    }
    .pets {
        min-height: 1522px;//
        padding: 0px 0 60px 0;//
        background: url(assets/images/palm_foto_2.png) left -12px (bottom/auto 72px) no-repeat,
        url(assets/images/strelitzia1.png) right -20px (bottom -3px/auto 71px) no-repeat;//
        &__items-wrap {
            width: 100%;//
            height: 1388px;//
        }
        &__items {
            grid-template-rows: repeat(4, 1fr);//
            grid-template-columns: 1fr;//
            row-gap: 20px;//
            justify-items: center;//
        }
        &__item {
            &_cheetahs {
                order: 7;
            }
        }
        &__btn {
            margin-top: 20px;//
        }
        &__btn-prev {
            display: none;//
        }
        &__btn-next {
            display: none;//
        }
    }
    .pick-and-feed {
        min-height: 1082px;//
        &__container {
            width: 100%;//
        }
        &__wrap {
            padding: 20px 0px 40px 0px;//
            min-height: 1042px;//
        }
        &__title {
            font-size: 24px;//
        }
        &__info {
            font-size: 18px;//
            text-align: center;//
            margin-top: 10px;//
            line-height: 120%;//
        }
        &__text {
            display: none;//
        }
        &__subtitle {
            font-size: 24px;//
            margin-top: 20px;//
        }
        &__items {
            flex-direction: column;//
            align-items: center;//
            max-width: 100%;//
            margin: 0 auto;//
            margin-top: 20px;//
        }
        &__item{
            min-height: 246px;//
        }
        &__item-descr {
            margin-top: 10px;//
        }
        &__arrow {
            &::after {
                left:57px;//
                top: -57px;//
                transform: rotate(82deg);//
            }
        }
        &__btn {
            margin-top: 16px;//
        }
    }
    .testimonials {
        min-height: 580px;//
        padding: 30px 0 60px 0;//
        background: url(assets/images/leav_foto_mobile.png) right 0px (bottom -34px/54px auto) no-repeat;//
        &__items-wrap {
            margin-top: 20px;//
        }
        &__title {
            font-size: 24px;//
        }
        &__item {
            padding: 10px 13px 19px 13px;//
        }
        &__item-name {
            margin-left: 4px;//
        }
        &__item-comment {
            line-height: 150%;//
        }
        &__btn {
            margin-top: 30px;//
        }
    }
    .footer {
        height: 334px;//
        padding: 20px 0 20px 0;//
        &__wrap {
            grid-template-rows: repeat(5, auto);
            grid-template-columns: 1fr;
            gap: 30px;//
        }
        &__logo {
            grid-column: 1;
            grid-row: 1;//
            border: none;//
            justify-self: center;//
            width:128px;//
            height: 23px;//
            font-size: 19px;//
        }
        &__title {
            &::before {
                left: 72px;//
            }
        }
        &__social {
            grid-column: 1;
            grid-row: 2;
            justify-self: center;//
            flex-direction: row;//
            gap: 30px;//
        }
        &__social-item {
            margin-top: 0px;//
            margin-bottom: 0px;//
        }
        &__nav {
            grid-column: 1;
            grid-row: 5;
        }
        &__nav-menu {
            gap: 30px;//
        }
        &__btn {
            grid-column: 1;//
            grid-row: 3;//
        }    
        &__copyright {
            grid-column: 1;//
            grid-row: 4;//
            justify-self: end;
            align-self: end;
            font-size: 15px;//
            letter-spacing: -0.5px;//
        }
    }
    .feed-form {
        display: none;
    }
    // page 2
    .page2-bg {
        height: 221px;
        background: url(assets/images/panda_bg_mobile.jpg) center (center/cover) no-repeat;
    }
    .donate {
        min-height: 1145px;
        padding: 30px 0 20px 0;
        &__title {
            width: 100%;
        }
        &__descr {
            line-height: 138%;
        }
        &__info {
            font-size: 24px;
        }
        &__pick-wrap {
            min-height: 591px;
            padding: 20px 0px 20px 0px;
        }
        &__pick-title {
            font-size: 24px;
        }
        &__pick-text {
            font-size: 16px;
            margin-top: 10px;
            line-height: 138%;
        }
        &__pick-amount {
            width: 100%;
            margin: 0 auto;
            margin-top: 10px;
        }
        &__pick-animal {
            margin-right: 0px;
            img {
                width: 160px;
                height: auto;
            }
        }
        &__pick-number {
            margin-top: 15px;
            font-size: 9px;
            span {
                font-size: 41px;
            }
        }
        &__pick-xicon {
            margin-top: 10px;
            margin-left: auto;
            margin-right: 36px;
            width: 8px;
            height: 8px;
        }
        &__form-position {
            margin-top: 0px;
        }
    }
//*
    .donate-feed-form__title {
        margin-top: 0;
        margin-left: 0;
    }
    //* Price randge
	.donate-feed-form__price-randge-bg {
		margin-top: 7px;
		height: 14px;
	}
	.donate-feed-form__price-range {
		width: 88.5%;
		margin: 6px 17px;
		label {
			width: 5px;
			height: 5px;
			&::before {
				top: 6px;
				left: -10px;
				font-size: 13px;
			}
		}
		input:checked {
			+ label::after {
				height: 20px;
				width: 20px;
				top: -7.5px;
				left: -7.5px;
			}
		}
	}
    .donate-feed-form__another-amount {
        margin-top: 49px;
    }
    .donate-feed-form__regularity {
        margin-top: 25px;
    }
    .donate-feed-form__btn {
        margin-top: 28px;
    }
    .donate__text-bottom {
        letter-spacing: -0.2px;
    }

}