.pick-and-feed {
    min-height: 1004px;
    @include orange_grad;
    padding: 69px 0 100px 0;
    font-weight: 400;
    color: $black_blue-color;
    &__wrap {
        padding: 41px 0 59px 0;
        min-height: 835px;
        border-radius: 20px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
    }
    &__title {
        font-size: 48px;
        text-align: center;
        color: $orange-color2;
    }
    &__descr {
        padding-left: 99px;
    }
    &__info {
        margin-top: 32px;
        font-size: 24px;
        
    }
    &__text {
        margin-top: 12px;
        font-size: 16px;
        line-height: 130%;
        &_select {
            margin-top: 40px;
            font-weight: 500;
        }
        &_link {
            color: $black_blue-color;
            border-bottom: 1px solid $orange-color;
            text-decoration: none;
        }
    }
    &__subtitle {
        margin-top: 60px;
        font-size: 36px;
        line-height: 130%;
        text-align: center;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 764px;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__item {
        width: 168px;
        min-height: 244px;
        }
    &__item-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 168px;
        background: #FFFFFF;
        border-radius: 5px;
        border: 1px solid $orange-color;
    }
    &__item-img-pay {
        border: none;
        width: 108px;
        height: 60px;
    }
    &__item-img-zoo {
        border: none;
        width: 86px;
        height: 95px;
    }
    &__item-img-monkey {
        border: none;
        width: 125px;
        height: 72px;
    }
    &__item-descr {
        margin-top: 30px;
        line-height: 140%;
    }
    &__arrow {
        margin-top: 64px;
        width: 69px;
        height: 35px;        
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 62px;
    }

}